@import "~bootstrap/scss/bootstrap";

.border-3 {
    border-width:3px !important;
}

.flex-fill {
    flex:1 1 auto;
}

.progress {
  background-color: #aaa;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.item-log {
    width: 32px;
    height: 32px;
    background-image: './img/log.png';
}

.inventory-slot {
    width: 38px;
    height: 38px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    background-color: #d6d6d6;
}

.table-condensed{
  font-size: 11px;
  padding-right:0;
  padding-left:0;
}

.crystal{
    position: absolute;
    z-index: 1;
}

.inventory-item{
  z-index: 10;
}

.front-and-centered {
  z-index: 90;
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.speedable{
  cursor: wait;
}

.selected{
  border-radius: 5px;
  border: 1px solid DodgerBlue;
  box-shadow: 0px 0px 5px DodgerBlue, inset 0px 0px 2px #333;
}
